<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">CNSTN</a>
  
    <!-- Links -->
      <li class="nav-item">
        <a routerLink="lesact" class="nav-link" href="#">Les Actualites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Les Evenements</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Nos Directions
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Liste Des Personnels
        </a>
        <div class="dropdown-menu">
          
          <a class="dropdown-item" href="#">E_Mail</a>
          <a class="dropdown-item" href="#">Tel</a>
          <a class="dropdown-item" href="#">Poste</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Galerie
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Vidéo</a>
          <a class="dropdown-item" href="#">Photos</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="mescontacts" class="nav-link" href="#">Contact</a>
      </li>
      
      <li class="nav-item">
        <input type="text" class="search square" placeholder="Search...">
        </li>
  </nav>
