table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
 tr {
    background-color: rgb(195, 208, 246);}
 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eeba66;
    color: white;
  }
  h2{
    text-align: center;
    color: saddlebrown;
    font-weight: bold;
  }