<div class="container">
    <h2>Liste Des Personnels</h2>
   
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Tel</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gharbi</td>
          <td>Rahma</td>
          <td>rahmagharbi415@gmailo.com</td>
          <td>50.264.919</td>
        </tr>
        <tr>
          <td>Saadi</td>
          <td>Asma</td>
          <td>sdasma.fr</td>
          <td>42.257.755</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>52.369.000</td>
        </tr>
        <tr>
            <td>Ben amar</td>
            <td>Malek</td>
            <td>malek124@gmail.com</td>
            <td>20.264.919</td>
          </tr>
          <tr>
            <td>Ferjanni</td>
            <td>Dhekra</td>
            <td>dhekra00@yahoo.com</td>
            <td>23.111.726</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>50.204.911</td>
          </tr>
          <tr>
            <td>Bellali</td>
            <td>Maryem</td>
            <td>mary@gmail.com</td>
            <td>51.7111.112</td>
          </tr>
          <tr>
            <td>Marouani</td>
            <td>Emna</td>
            <td>ema001@gmail.com</td>
            <td>20.124.441</td>
          </tr>
        </tbody>
     
    </table>
   
       
  </div>
