 p{
    font-weight: bold;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 1em;
   
}
h6{
padding-top: 750px;
padding-left:1em;
color: rgb(219, 117, 117);}


 h5{
    padding-right: 1em;
   ;
 }
 img{
    width: 300px;
 height: 300px;
}