
 <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Les Actualités</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Appel à candidature</h5>
      <p class="card-text">Appel à candidature pour le recrutement d’un contractuel doctorant en Sciences Biologiques dans 
        le domaine de développement de vaccins par irradiation et de production de particules 
        pseudovirales au <b>CNSTN</b> en collaboration avec l’INSTM et l’IPT</p>
      <a href="/assets/img/cons2022.png" class="btn btn-primary">Details</a>

    </div>
  </div>
  <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Les Actualités</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Appel à candidature</h5>
      <p class="card-text">18/05/2022 - MPFUS 2022</p>

      <img src="\assets\img\mena.jpg">

    </div>
  </div>
  <h6><u>Pour avoir le cahier de charge vous pouvez envoyer un email à l'adresse walidnaas81@gmail.com</u></h6>
  



