<img src="\assets\img\R.jfif" class="imj">
 <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Les Actualités</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Appel à candidature</h5>
      <p class="card-text">Appel à candidature pour le recrutement d’un contractuel doctorant en Sciences Biologiques dans 
        le domaine de développement de vaccins par irradiation et de production de particules 
        pseudovirales au <b>CNSTN</b> en collaboration avec l’INSTM et l’IPT</p>
      <a href="/assets/img/cons2022.png" class="btn btn-primary">Details</a>

    </div>
  </div>
  <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Les Actualités</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Appel à candidature</h5>
      <p class="card-text">18/05/2022 - MPFUS 2022</p>

      <img src="\assets\img\mena.jpg">

    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Les Actualités</div>
    <div class="card-body">
      <img src="\assets\img\promesse.jpg">
      <p class="card-text text-white">Dans le cadre de la phase préparatoire du projet PAQ –CR-<b>CNSTN</b>, le <b> CNSTN </b>,
         se propose de confier à un consultant la mission indiquée ci-dessous : « Accompagnement du Centre National des Sciences 
        et Technologies Nucléaires pour le diagnostic stratégique et l'élaboration du Plan d’Orientation Stratégique « POS » 
        et du Plan d’Action Stratégique « PAS » » TDR1 Les dossiers de manifestation d’intérêt doivent parvenir par 
        voie postale  ( normale, recommandée ou rapide) ou par dépôt direct au bureau d’ordre au plus tard le vendredi
         13 septembre 2019 à 16h au nom de monsieur le Directeur Général du Centre National des Sciences et Technologies Nucléaires
          ,technopôle Sidi Thabet 2020 ,Ariana, sous pli fermé portant la mention «Ne pas ouvrir demande de manifestation
           d’intérêt N° 1/2019 « Accompagnement du Centre National des Sciences et Technologies Nucléaires pour le diagnostic 
        stratégique et l'élaboration du Plan d’Orientation Stratégique « POS » et du Plan d’Action Stratégique « PAS »</p>
    </div></div>

  



